USE [master]
GO
/****** Object:  Database [TP4_DB]    Script Date: 30/7/2022 00:29:17 ******/
CREATE DATABASE [TP4_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_DB', FILENAME = N'G:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_DB_log', FILENAME = N'G:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_DB]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 30/7/2022 00:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
	[Clases] [varchar](50) NOT NULL,
	[Turno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID], [Nombre], [Apellido], [DNI], [Telefono], [Clases], [Turno]) VALUES (1, N'Matias', N'Ferrari', 43234232, 1123432343, N'KickBoxing', N'TurnoMañana')
INSERT [dbo].[CLIENTES] ([ID], [Nombre], [Apellido], [DNI], [Telefono], [Clases], [Turno]) VALUES (2, N'Matias', N'Ferrari', 43434121, 1132432332, N'KickBoxing', N'TurnoMañana')
INSERT [dbo].[CLIENTES] ([ID], [Nombre], [Apellido], [DNI], [Telefono], [Clases], [Turno]) VALUES (3, N'Fede', N'Barletta', 43256523, 1123238998, N'EntrenamientoFuncional', N'TurnoNoche')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
USE [master]
GO
